.bg-container {
  display: flex;
  justify-content: center;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 85%;
  margin-bottom: 34px;
  margin-top: 34px;

  max-width: 1140px;
}
.image {
  border-radius: 18px;
  width: 40%;
  height: 20%;
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
  color: #64748b;
}
.description {
  font-family: 'Roboto';
  font-size: 30px;
  color: #64748b;
}
.unOrderList-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}
